body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
  font-size: 20px;
}

.google-fonts {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal
}

h1 {
  /*これでもいいけど、font-size: 40px;*/
  /* ルート様相を基準とした。*/

  font-size: 2rem;
}

.google-fonts {
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}

.font_color {
  color: skyblue;
}

.font_color2 {
  color: rgb(255, 192, 203)
}

.first_decoration {
  color: rgb(255, 192, 203);
}

.second_decoration {
  color: skyblue;
}

#parent p {
  font-weight: bold;
}